:host {
    display: block;
    height: 100vh;
    background-image: url(../../assets/foresta.png);
    background-position: center 40px;
    background-size: contain;
    background-repeat: no-repeat;
}